---
---

<form class="max-w-sm  min-w-[20rem] m-auto flex-1 flex flex-col bg-zinc-900/50 p-5 md:p-8 rounded-lg" action="https://formsubmit.co/davidjuradoyt@gmail.com" method="POST">
    <label class="text-zinc-300 text-sm md:text-base pb-1" for="name">Nombre:</label>
    <input class="bg-zinc-950 py-2 px-3 md:px-4 md:py-3 rounded-lg text-zinc-300 text-sm outline-none caret-zinc-300" name="name" id="name" placeholder="name" type="text" required>

    <label class="mt-5 md:mt-7 text-zinc-300 text-sm md:text-base pb-1" for="email">Email:</label>
    <input class="bg-zinc-950 py-2 px-3 md:px-4 md:py-3 rounded-lg text-zinc-300 text-sm outline-none caret-zinc-300" name="email" id="email" placeholder="email" type="email" required>

    <label class="mt-5 md:mt-7 text-zinc-300 text-sm md:text-base pb-1" for="message">Mensaje:</label>
    <textarea class="bg-zinc-950 resize-none py-2 px-3 md:px-4 md:py-3 rounded-lg text-zinc-300 text-sm outline-none caret-zinc-300" name="message" placeholder="message" id="message" cols="" rows="" required/>

    <button class="text-sm md:text-base mt-5 md:mt-7 bg-zinc-800 px-3 py-2 md:px-4 md:py-3 rounded-lg  text-zinc-50">Enviar</button>

    <p class="mt-5 md:mt-7 text-zinc-300/20 text-xs md:text-sm">No se asusten si les sale un captcha y algo de "formsubmit", por ahora lo estaré usando para gestionar el formulario.</p>
</form>