---
import { NestjsIcon } from '../icons';
import { ExternalLinkIcon, AstroIcon, CssIcon, ReactIcon, TailwindIcon, TypeScriptIcon, JavaScriptIcon, NextjsIcon } from '../icons'
import WorkCards from './WorkCards.astro'
---

<section id="work" class="bg-gradient-to-b from-zinc-950 to-rose-950/10 h-screen w-full py-14 flex">
    <div class="w-[90%] h-full md:w-[60%] m-auto flex flex-col gap-10">
        <h2 class="inline-block text-4xl md:text-5xl font-medium bg-gradient-to-l  from-rose-500 to-rose-900 text-transparent bg-clip-text">Proyectos</h2>

        <div>
            <p class="text-sm md:text-base text-zinc-300 flex gap-1">Estos son mis últimos proyectos, el resto los pueden encontrar en mi<a href="https://github.com/yesidexe" class="hover:text-rose-500 duration-300 flex items-center gap-1" target="_blank">Github <span><ExternalLinkIcon className="w-4"/></span></a></p>
        </div>

        <div class="overflow-hidden gap-x-5 gap-y-8 grid grid-cols-[repeat(auto-fill,minmax(18.2538rem,1fr))]">

            <WorkCards title="Portafolio V1" src="/assets/todo-list.JPG">
                <TypeScriptIcon className="hover:bg-white duration-300 hover:text-[#007ACC] text-zinc-300 w-6 sm:w-7"/>
                <TailwindIcon className='w-6 sm:w-7 duration-300 hover:text-[#44a8b3] text-zinc-300'/>                
                <AstroIcon className='w-6 sm:w-7 duration-300 hover:text-[#ff5d01] text-zinc-300'/>
                <ReactIcon className='duration-300 hover:text-[#00D8FF] text-zinc-300 w-6 sm:w-7'/>
            </WorkCards>

            <WorkCards title="Entertainment web app" src="/assets/entertainment-web-app.JPG">
                <TypeScriptIcon className="w-6 sm:w-7 hover:bg-white duration-300 hover:text-[#007ACC] text-zinc-300"/>           
                <CssIcon className='w-6 sm:w-7 duration-300 hover:text-[#33AADD] text-zinc-300'/>
                <ReactIcon className='duration-300 hover:text-[#00D8FF] text-zinc-300 w-6 sm:w-7'/>
            </WorkCards> 

            <WorkCards title="Triki" src="/assets/triki.JPG">
                <TypeScriptIcon className="hover:bg-white duration-300 hover:text-[#007ACC] text-zinc-300 w-6 sm:w-7"/>
                <TailwindIcon className='w-6 sm:w-7 duration-300 hover:text-[#44a8b3] text-zinc-300'/> 
                <ReactIcon className='duration-300 hover:text-[#00D8FF] text-zinc-300 w-6 sm:w-7'/>
            </WorkCards> 

            <WorkCards title="E-commerce platzi" src="/assets/e-commerce-platzi.JPG">
                <JavaScriptIcon className="w-6 sm:w-7 hover:bg-zinc-950 duration-300 hover:text-[#F7DF1E] text-zinc-300"/>
                <NextjsIcon className='w-6 sm:w-7 hover:bg-zinc-300 hover:border rounded-full duration-300 hover:text-black text-zinc-300'/>
                <TailwindIcon className='w-6 sm:w-7 duration-300 hover:text-[#44a8b3] text-zinc-300'/>  
                <ReactIcon className='duration-300 hover:text-[#00D8FF] text-zinc-300 w-6 sm:w-7'/>
            </WorkCards> 

            <WorkCards title="ToDo list" src="/assets/todo-list.JPG">
                <JavaScriptIcon className="w-6 sm:w-7 hover:bg-zinc-950 duration-300 hover:text-[#F7DF1E] text-zinc-300"/>
                <ReactIcon className='duration-300 hover:text-[#00D8FF] text-zinc-300 w-6 sm:w-7'/>
            </WorkCards> 

            <WorkCards title="Dictionary app" src="/assets/dictionary-app.JPG">
                <JavaScriptIcon className="w-6 sm:w-7 hover:bg-zinc-950 duration-300 hover:text-[#F7DF1E] text-zinc-300"/>
                <TailwindIcon className='w-6 sm:w-7 duration-300 hover:text-[#44a8b3] text-zinc-300'/> 
                <ReactIcon className='duration-300 hover:text-[#00D8FF] text-zinc-300 w-6 sm:w-7'/>
            </WorkCards>     
        </div>
    </div>    
</section>